.textarea {
  height: 90vh !important;
  width: 50vw;
}
.textarea2 {
  height: 96vh !important;
  width: 50vw;
}

.search-button {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

@media only screen and (max-width: 767px) {
  /* styles for mobile devices */
  .textarea {
    height: 90vh !important;
    width: 100vw;
  }
  .textarea2 {
    height: 100vh !important;
    width: 100vw;
  }
}
